
@{
    ViewBag.Title = "SmellerTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SmellerTest</h2>


<section>
    @using (Html.BeginForm("ExecuteSmellerTest", "Smeller"))
    {
        <p>Voer een smeller uit.</p>
        @Html.TextBox("address", "", new { placeholder = "Scrape url" })
        <input type="submit" value="Smell" />
    }
</section>