
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mappings</h2>

@Html.ActionLink("Handmatig mappen", "MapManual", "Mappings")
<br/>
@Html.ActionLink("View mappings", "ViewMappings")