@model ScrapeIT.Web.Mvc.Models.MappingPerDomainModel

@{
    ViewBag.Title = "Mappings per domain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mappings per domain</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Domain</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var domain in Model.Domains)
        {
            <tr>
                <td>@Html.ActionLink(domain, "ViewMappingDomain", "Mappings", new { domain=domain })</td>
            </tr>
        }
    </tbody>
</table>
