@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Leidse rijn 35<br />
    Utrecht, 3454 PZ De Meern<br />
    <abbr title="Phone">P:</abbr>
    030-7371101
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gertjan@scrape-it.nl">gertjan@scrape-it.nl</a><br />
    <strong>Sales:</strong> <a href="mailto:roland@scrape-it.nl">roland@scrape-it.nl</a>
</address>